# Task 1 - Connecting to MySQL database

In [8]:
import mysql.connector as connector
import os

In [40]:
# Establish connection between Python and MySQL database via connector API
dbconfig=connector.connect(
                             user="root", # use your own
                             password="rootroot", # use your own
                            )

In [35]:
cursor = connection.cursor()

In [51]:
connection = connector.connect(user = "root", password = "rootroot", db = "LittleLemonDB")

# Task 2 - Showing the database tables

In [43]:
show_tables_query = '''SHOW tables;''' 
cursor.execute(show_tables_query)

In [21]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

Bookings
ContactDetails
Customers
MenuContent
MenuItems
Menus
OrderDeliveryStatus
Orders
ordersview
Roles
Staff

# Task 3 - Getting the customers' details who have spent more than $60

In [42]:
customer_join_query = '''
        SELECT
            c.name AS FullName,
            cd.email AS Email,
            cd.phone_number AS PhoneNumber,
            cd.address AS Address,
            cd.country AS Country,
            cd.city AS City,
            o.total_cost AS Cost
        FROM customers c
        JOIN contactdetails cd
            USING (customer_id)
        JOIN orders o
            USING (customer_id)
        WHERE o.total_cost > 60
        ORDER BY o.total_cost DESC;
'''

In [53]:
cursor.execute(customer_join_query)

ProgrammingError: 1054 (42S22): Unknown column 'customer_id' in 'from clause'

In [46]:
customers = cursor.fetchall()

In [50]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 11 customers with more than $60 of spending...
Printing the top 10 spenders...
==================================================
Full Name: 	 Bookings

IndexError: tuple index out of range